.appSwitchButton {
    width: 80%;
    display: flex;
    cursor: pointer;
    padding-block: 8px;
    border-radius: 8px;
    align-items: center;
    margin-inline: 16px;
    padding-inline: 16px;
    justify-content: space-between;
}


.appSwitchLeadingButton {
    gap: 8px;
    display: flex;
    align-items: center;
    color: var(--light-dark);
}

.editLeadingNotification {
    width: 24px;
    height: 24px;
    color: var(--light-dark);
}

@media (min-width: 600px) {
    .appSwitchButton {
        width: 400px;
    }
}
