.homePage {
    display: flex;
    margin-top: 160px;
    align-items: center;
    justify-content: center;
}

.searchUserIcon {
    width: 32px;
    height: 32px;
    padding: 16px;
    cursor: pointer;
    color: var(--light);
    border-radius: 80px;
    background-color: var(--primary);
}

.searchUserIcon:hover {
    opacity: 0.8;
    background-color: light;
}
