.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchUserIcon {
    width: 32px;
    height: 32px;
    padding: 16px;
    cursor: pointer;
    margin-top: 160px;
    color: var(--light);
    border-radius: 40px;
    background-color: var(--primary);
}

.searchUserIcon:hover {
    opacity: 0.8;
    background-color: light;
}

@media (min-width: 600px) {
    .homePage {
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .homePage {
        margin-left: 200px;
    }
}