.navigationSheet {
    bottom: 0;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    background-color: var(--primary);
}

@media (min-width: 600px) {
    .navigationSheet {
        width: 60px;
        bottom: auto;
        height: 100vh;
        display: block;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}


@media (min-width: 1024px) {
    .navigationSheet {
        width: 200px;
    }
}