.bottomsheetCloseWrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: transparent;
}

.bottomsheetWrapper {
    left: 0;
    right: 0;
    bottom: 0;
    top: 80px;
    z-index: 100;
    position: fixed;
    padding-top: 16px;
    padding-inline: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: var(--light);
}

.bottomsheetAppBar{
    display: flex;
    align-items: end;
    justify-content: end;
}

.closeBottomsheet{
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    font-size: 24px;
    color: var(--light);
    align-items: center;
    border-radius: 40px;
    justify-content: center;
    background-color: var(--primary);
}

@media (min-width: 600px) {
    .bottomsheetWrapper {
        top: 0;
        left: 40%;
    }
}

@media (min-width: 1024px) {
    .bottomsheetWrapper {
        left: 60%;
    }
}