.appButton {
    gap: 8px;
    width: 100%;
    height: 48px;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .appButton {
        width: 460px;
    }
}