.couplePage {
    height: 100vh;
    padding-inline: 16px;
    width: calc(100% - 32px);
}

.coupleRelationCard {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coupleRelationStatus {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.couplePageTitle {
    color: var(--secondary);
}
