.errorSnackBar {
    bottom: 0;
    width: 90%;
    margin: 16px;
    display: flex;
    position: fixed;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    background-color: var(--error);
}

.snackBarLeftSection{
    display: flex;
    margin-left: 8px;
    justify-content: start;
    align-items: center;
}

.snackBarMessage {
    color: var(--light);
    padding-inline: 16px;
}

.snackBarErrorIcon {
    font-size: 48px;
    color: var(--light);
}

.snackBarCloseIcon {
    margin: 8px;
    padding: 8px;
    color: var(--dark);
    font-size: 1.8rem;
    border-radius: 48px;
    background-color: var(--light);
}