.signInScreen {
    display: flex;
    align-items: center;
    margin-inline: 16px;
    flex-direction: column;
    justify-content: center;
}

.signInContent {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signInTitle {
    margin: 0px;
    line-height: 2px;
    text-align: center;
}

.signInSubTitle {
    text-align: center;
    font-size: var(--font-body);
}

.signInSubTitle span {
    color: var(--primary);
}

.signInForm {
    width: 100%;
}

.forgetPasswordButton {
    display: flex;
    justify-content: right;
}

.signInOrSection {
    gap: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInOrTextBig {
    display: none;
}

.signInOrSection p {
    font-size: 14px;
}

.signInOrLine {
    flex: 1;
    height: 1px;
    background-color: var(--grey);
}

.signUpLink {
    gap: 8px;
    width: 100%;
    text-align: center;
    padding-block: 16px;
    margin-inline: 16px;
}

.signInLink {
    font-size: 16px;
}

.signInLink span {
    cursor: pointer;
    color: var(--primary);
}

.signInSSOButtons {
    gap: 8px;
    display: flex;
}

@media (min-width: 416px) {
    .signInForm {
        width: 400px;
    }

    .signInSSOButtons {
        width: 400px;
    }

    .signInOrSection {
        width: 400px;
    }

    .signUpLink {
        width: 400px;
    }

    .signInOrTextBig {
        display: block;
    }

    .signInOrTextSmall {
        display: none;
    }
}

@media (min-width: 768px) {
    .signInForm {
        width: 460px;
    }

    .signInSSOButtons {
        width: 460px;
    }

    .signInOrSection {
        width: 460px;
    }

    .signUpLink {
        width: 460px;
    }

    .signInOrTextBig {
        display: block;
    }

    .signInOrTextSmall {
        display: none;
    }
}