.editDetailButton {
    width: 80%;
    display: flex;
    cursor: pointer;
    padding-block: 8px;
    border-radius: 8px;
    align-items: center;
    margin-inline: 16px;
    padding-inline: 16px;
    background-color: transparent;
    justify-content: space-between;
}


.editDetailButton:hover {
    opacity: 0.6;
    border-radius: 0;
}

.userDetailData {
    gap: 16px;
    display: flex;
    align-items: center;
}


.editDetailButtonLeadingIcon {
    font-size: 24px;
    color: var(--dark-grey);
}

.editDetailButtonTrailingIcon {
    height: 24px;
    color: var(--dark-grey);
}

.userDetailData p {
    margin: 0;
    text-align: start;
    color: var(--dark-grey);
    font-size: var(--font-small);
    text-transform: capitalize;
}

.editDetailSubTitle {
    opacity: 1;
    font-weight: 500;
    text-align: start;
}

@media (min-width: 600px) {
    .editDetailButton {
        width: 400px;
    }
}